<ul>
    <li>Indranil Das Gupta</li>
    <li>Stefan Weil</li>
    <li>Barton Chittenden</li>
    <li>Eivin Giske Skaaren</li>
    <li>Samanta Tello</li>
    <li>Martin Stenberg</li>
    <li>Joonas Kylmälä</li>
    <li>Martin Persson</li>
    <li>Lari Taskula</li>
    <li>Genevieve Plantin</li>
    <li>Remi Mayrand-Provencher</li>
</ul>